<h2>About SinVirt</h2>

<p>
A simple Ruby/Sinatra web UI for libvirt. <br />
This app is aimed at webdev houses to provide devs a simple, self serve development/test environment.<br />
Add in a mix of your favourite configuration management (I bootstrap Puppet from my kickstarts) to have the VM's built identical to a customer's production environment. <br />
</p>
<p>
It is early stages yet and this is still considered to be alpha quality code. <br /><br />
As I am using this project as a place to learn and there is alot to learn with limited time I am not really ready to start accepting pull-requests or patches just yet.<br />
This may sound selfish and anti FOSS but I have a goal of getting to a 1.0 release with basic functionality on my own. <br />
Once I have a 1.0 release done I will then learn the steps needed for collabrative coding. Accepting patches, pull-requests etc etc.
</p>
<p>
As I am not very good at CSS and UI design SinVirt is using, with written permission, a bought theme called - <a href="http://themeforest.net/item/ninja-admin-/21190">Ninja Admin.</a> <br />
</p>



