<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="keywords" content="">
<meta name="description" content="">
<title>sinvirt - sinatra libvirt</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/layout.css">
</head>
<body>
<div class="wrapper">
<!-- Site navigation menu -->
<ul id="tabmenu"> 
	<li><a href="/domains/list">VM's</a></li> 
	<li><a href="/nodes/list">Nodes</a></li>
	<li><a href="/console">Console</a></li> 
	<li><a href="/about">About</a></li>
</ul> 
<!-- Main content -->
  <%= yield %>

		<div class="push"></div>
	</div>
    <div class="footer">
    	<p>Copyright (c) GPLv3 2010 Mick Pollard</p>
    </div>
</body>
</html>
